#water nivel1{
    grid-column-start:3;
}

#poison nivel2{
    grid-column-start:5;
}


#water nivel3{
  grid-column-start: 1;
  grid-column-end:4;
}

#water nivel4{
  grid-column-start: 5;
  grid-column-end:2;
}

#water nivel5{
  grid-column-start: 1;
  grid-column-end:-2;
}

#poison nivel6{
    grid-column-start:-3;
}