@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;

    box-sizing: border-box;
}

h2 {
    background-color: #fe7e02;
    padding: 10px 5px 10px 5px;
    color: white;
    text-align: center;
}

input {
    height: 20px;
    width: 500px;
    outline: none;
}

button:focus {
    color: white;
}

div>p:first-child {
    display: inline;
}

.botao-amarelo {
    background-color: #ffaf43;
    width: 250px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    border: none;
    margin-bottom: 50px;
    outline: none;
}

.botao-amarelo:hover {
    background-color: #c44f00;
}

.container {
    height: 500px;
    text-align: center;
}

.icone {
    height: 15px;
}

.icone:hover {
    opacity: 0.5;
}

.icone:active {
    opacity: 1;
}


/** 
  *
  *  ESTILOS HOME 
  *
  **/

#container-de-descricao {
    background-color: #2274a5;
    height: 50vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#container-de-descricao>ol {
    padding: 15px 0px;
}

#container-para-comprar {
    background-color: #e7eb90;
    height: 42vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

#container-para-comprar>p {
    color: #c44f00;
    font-size: 40px;
    margin-top: 50px;
}



/**
  *
  *  ESTILOS COMPRAR 
  *
  **/

div:nth-child(2),
div:last-child {
    text-align: center;
}

table {
    width: 60%;
    text-align: center;
    margin: 0 auto;
}

td img {
    width: 50px;
}

td button {
    background-color: #fadf63;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    border: none;
    outline: none;
}

td button:hover {
    background-color: #f3ce2a;
}

.container-do-search {
    margin-top: 20px;
    height: 100px;
}

.container-do-search input {
    border: none;
    border-bottom: 2px solid black;
}

#container-button {
    margin: 100px 45%;
}

#back-button {
    background-color: white;
    width: 100px;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 10px;
    color: black;
    text-align: center;
    outline: none;
}

#back-button:hover {
    background-color: #635a3d;
    color: white;
}

#back-button:active {
    color: white;
}
